{{define "yield"}}
<h1>FAQ</h1>

<a href="/">Startseite</a>

<h2>Frequently asked questions</h2>

    <ul>
        <li>
            one
        </li>
        <li>
            two
        </li>
        <li>
            three
        </li>
    </ul>

{{end}}